.custom h2 {
    font-size: 2rem;
}

.custom .flexbox {
    display: flex;
    flex-wrap: wrap;
}

.custom .flexbox > li {
    flex-basis: 50%;
}

.custom .main {
    text-align: left;
    list-style: none;
}

.custom h3 {
    font-size: 1.4rem;
    text-transform: none;
}

@media(max-width: 980px) {
    .custom .flexbox > li {
        flex-basis: 100%;
    }
}